*.swp
docker/IMAGES.json
*.box
*.bak
*.egg-info
*.retry
*.log
*.pyc
/doc/build
/downloads/
/inventory/
/inventories/
/requirements/python_git_requirements.txt
/requirements/checkouts_*
/local
/tags.*
/var/ansible
/var/cache
/var/log
/var/run
/venv*
/roles
/playbooks
/hacking/docker-squash*
/docker/**/*.tmp
#
!/requirements/*.in
/ignored
/.corpusops
/.vagrant
/vagrant_config.yml
/sshconfig
/collections
/hacking/*/.env
/requirements/python_requirements.txt
