*.swp
*.egg-info
*.retry
*.log
*pyc
.coverage*
.lint.log
.pep8.log
.unit.log
/app
/doc/build
/downloads/
*inventory/
*inventories/
/requirements/git_requirements.txt
/requirements/checkouts.yml
/src
/tags.*
/var/ansible
/var/cache
/var/log
/var/run
/venv
/roles
/playbooks
