*.swp
*.egg-info
*.retry
*.log
*.pyc
/doc/build
/downloads/
/inventory/
/inventories/
/requirements/python_git_requirements.txt
/requirements/checkouts_*
/tags.*
/var/ansible
/var/cache
/var/log
/var/run
/venv
/roles
/playbooks
#
!/requirements/*.in
