# ANSIBLE
paramiko

# reqs that need te be taken with care
pip >= 1.5.6
chardet >= 2.3.0
ordereddict >= 1.1

# MISC
pytz >= 2014.9
timelib >= 0.2.4

# SSL
certifi >= 14.05.14
cryptography >= 0.8
pycrypto >= 2.6.1
pyOpenSSL >= 0.15.1


# HTTP/URLLIB/REQUESTS
requests >= 2.5.3
urllib3 >= 1.10.1
backports.ssl-match-hostname >= 3.4.0.2
ndg-httpsclient >= 0.3.3
pyasn1 >= 0.1.7

# DNS
ipaddr >= 2.1.11
ipwhois >= 0.10.1
dnspython >= 1.12.0
python-whois-extended
netaddr >= 0.7.13

# TEMPLATING
pycparser >= 2.10
PyYAML >= 3.11
Jinja2 >= 2.7.3
markupsafe >= 0.23
smmap >= 0.9.0
snowballstemmer >= 1.2.0

# Future !
futures >= 3.0.5

# CLOUD
# https://github.com/corpusops/docker-py/archive/ddcca89aceaaf13c4c74fe81bf9323b8018b004d.zip#egg=docker[tls]
docker[tls] >= 3.3.0

# mitogen
-e git+https://github.com/dw/mitogen.git@d503956493ec6429ce6e0331632cb70a405527bc#egg=mitogen

# Remote/Forking Debugging (install manually, do not work on docker/centos)
#epdb
pdb_clone
