# ANSIBLE
paramiko

# reqs that need te be taken with care
# setuptools is only pinned down to <45 on master branch
setuptools>=45,<50
packaging
pip >= 1.5.6
chardet >= 2.3.0
ordereddict >= 1.1

# JINJA BUG from jinja2.filters import environmentfilter, do_groupby as _do_groupby
jinja2 < 3.1.0

# MISC
pytz >= 2014.9
timelib >= 0.2.4

# SSL
certifi >= 14.05.14
cryptography >= 0.8
PyCryptodome >= 3.9.8
pyOpenSSL >= 0.15.1


# HTTP/URLLIB/REQUESTS
requests >= 2.5.3
# handled and installed by OS/scripts
# urllib3 >= 1.10.1
backports.ssl-match-hostname >= 3.4.0.2
ndg-httpsclient >= 0.3.3
pyasn1 >= 0.1.7

# DNS
ipaddr >= 2.1.11
ipwhois >= 0.10.1
dnspython >= 1.12.0
python-whois-extended
netaddr >= 0.7.13

# TEMPLATING
pycparser >= 2.10
PyYAML >= 3.11
Jinja2 >= 2.7.3
markupsafe >= 0.23
smmap >= 0.9.0
snowballstemmer >= 1.2.0

# Future !
futures >= 3.0.5

# CLOUD
# https://github.com/corpusops/docker-py/archive/ddcca89aceaaf13c4c74fe81bf9323b8018b004d.zip#egg=docker[tls]
docker[tls] >= 3.3.0

# mitogen disabled to multiple & repeated errors (gitlfs pbs, & deadlocks)
# -e git+https://github.com/dw/mitogen.git@5667116f58f3e48c7a9cec17a8a8e53fe4b3d641#egg=mitogen

# Remote/Forking Debugging (install manually, do not work on docker/centos)
#epdb
#remote-pdb >= 2.0.0
pdb_clone

# password hash
passlib[argon2,bcrypt,totp]

# prometheus playbook
jmespath
